@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	@font-face {
		font-family: Spartan;
		font-weight: 100;
		src: url('../../../assets/fonts/spartan/Spartan-Thin.ttf');
	}
	@font-face {
		font-family: Spartan;
		font-weight: 200;
		src: url('../../../assets/fonts/spartan/Spartan-ExtraLight.ttf');
	}
	@font-face {
		font-family: Spartan;
		font-weight: 300;
		src: url('../../../assets/fonts/spartan/Spartan-Light.ttf');
	}
	@font-face {
		font-family: Spartan;
		font-weight: 400;
		src: url('../../../assets/fonts/spartan/Spartan-Regular.ttf');
	}
	@font-face {
		font-family: Spartan;
		font-weight: 500;
		src: url('../../../assets/fonts/spartan/Spartan-Medium.ttf');
	}
	@font-face {
		font-family: Spartan;
		font-weight: 600;
		src: url('../../../assets/fonts/spartan/Spartan-SemiBold.ttf');
	}
	@font-face {
		font-family: Spartan;
		font-weight: 700;
		src: url('../../../assets/fonts/spartan/Spartan-Bold.ttf');
	}
	@font-face {
		font-family: Spartan;
		font-weight: 800;
		src: url('../../../assets/fonts/spartan/Spartan-ExtraBold.ttf');
	}
	@font-face {
		font-family: Spartan;
		font-weight: 900;
		src: url('../../../assets/fonts/spartan/Spartan-Black.ttf');
	}
}
@layer base {
	@font-face {
		font-family: Poppins;
		font-weight: 100;
		src: url('../../../assets/fonts/poppins/Poppins-Thin.ttf');
	}
	@font-face {
		font-family: Poppins;
		font-weight: 200;
		src: url('../../../assets/fonts/poppins/Poppins-ExtraLight.ttf');
	}
	@font-face {
		font-family: Poppins;
		font-weight: 300;
		src: url('../../../assets/fonts/poppins/Poppins-Light.ttf');
	}
	@font-face {
		font-family: Poppins;
		font-weight: 400;
		src: url('../../../assets/fonts/poppins/Poppins-Regular.ttf');
	}
	@font-face {
		font-family: Poppins;
		font-weight: 500;
		src: url('../../../assets/fonts/poppins/Poppins-Medium.ttf');
	}
	@font-face {
		font-family: Poppins;
		font-weight: 600;
		src: url('../../../assets/fonts/poppins/Poppins-SemiBold.ttf');
	}
	@font-face {
		font-family: Poppins;
		font-weight: 700;
		src: url('../../../assets/fonts/poppins/Poppins-Bold.ttf');
	}
	@font-face {
		font-family: Poppins;
		font-weight: 800;
		src: url('../../../assets/fonts/poppins/Poppins-ExtraBold.ttf');
	}
	@font-face {
		font-family: Poppins;
		font-weight: 900;
		src: url('../../../assets/fonts/poppins/Poppins-Black.ttf');
	}
}
@import './global';
